@using directory =HSEvents.Web.Views.DirectoryType;

@section Styles {
    <link href="@Url.Content("~/Content/DirectoryStyle.css")" rel="stylesheet" type="text/css" />
}

@{ var controller = "?type=";}
<h2>fjfjj</h2>

<div style="    min-width: 850px;">
    <div id="menu">
        <div><a href="@controller@(directory.Attendees)">Участники</a></div>
        <div><a href="@controller@(directory.ContactPersons)">Контактные лица школ</a></div>
        <div><a href="@controller@(directory.Schools)">Школы</a></div>
        <div><a href="@controller@(directory.AcademicPrograms)">Академические программы</a></div>
        <div><a href="@controller@(directory.SchoolTypes)">Типы школ</a></div>
        <div><a href="@controller@(directory.CityTypes)">Типы населенных пунктов</a></div>
        <div><a href="@controller@(directory.Volunteers)">Волонтеры</a></div>
        <div><a href="@controller@(directory.Groups)">Группы</a></div>
        <div><a href="@controller@(directory.Departments)">Департаменты</a></div>
        <div><a href="@controller@(directory.Users)">Пользователи</a></div>
        <div><a href="@controller@(directory.Employees)">Сотрудники</a></div>
    </div>
    <div id="content">
        <h2>@ViewBag.Title</h2>
        
        @if (ViewData["list"] != null)
        {
            foreach (var info in (IEnumerable<string>) ViewData["list"])
            {
                <div>@info</div>
                <input type="submit" class="btn btn-default" style="width: 73%" value="Редактировать"/>
                <input type="submit" class="btn btn-default" style="width: 73%" value="Удалить"/>
                <br/>
            }
        }


    </div>

</div>

@*@Html.Partial("_LoginPartial")*@