.calendar {
    text-align: center;
}
.calendar th{
    text-align: center;
}

    .calendar td {
        height: 80px;
        width: 80px;
        border: 1px solid black;
    }

 .last {
     border-top:  1px solid lightgray  !important;
     border-left:  1px solid lightgray  !important;
     border-right: 0px   !important;
    color: lightgray
}

.next {
    border-bottom:  1px solid lightgray  !important;
    border-right:  1px solid lightgray  !important;
    border-left: 0px   !important;
    color: lightgray
    
}
