@using System.Drawing
@using Domain.Events
@using HSEvents.Web.Controllers

@section Styles {
    <link href="@Url.Content("~/Content/EventStyle.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/EventScript.js")"></script>
 }

@{
    ViewBag.Title = "Index";
}

<h2>Январь</h2>

<table id="calendar" class="calendar">
    <thead>
    <tr>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th>Сб</th>
        <th>Вс</th>
    </tr>
    </thead>
    
    <tbody id="calendarBody">
    
    </tbody>
</table>

<script >calendarBig()</script>

<h2 onclick="Back()">Back</h2>
<h2 onclick="Next()">Next</h2>
