@using System.Drawing
@using Domain.Events
@using HSEvents.Web.Controllers

@section Styles {
    <link href="@Url.Content("~/Content/EventStyle.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/Views/EventScript.js")"></script>
 }

@{
    ViewBag.Title = "Index";
}
    <h2 id="calendarDate">Январь</h2>

<div id="preloaderbg" class="centerbg1">
    <div class="centerbg2">
        <div id="preloader"></div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <div id="calendar" class="calendar">
            <row>
                <div class="xs-7">Пн</div>
                <div class="xs-7">Вт</div>
                <div class="xs-7">Ср</div>
                <div class="xs-7">Чт</div>
                <div class="xs-7">Пт</div>
                <div class="xs-7">Сб</div>
                <div>Вс</div>
            </row>

            <div id="calendarBody">

            </div>
        </div>
    </div>


</div>

