@using System.Drawing
@using Domain.Events
@using HSEvents.Web.Controllers

@section Styles {
    <link href="@Url.Content("~/Content/EventStyle.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/Views/EventScript.js")"></script>
 }

@{
    ViewBag.Title = "Index";
}
    <h2 id="calendarDate">Январь</h2>

<div id="preloaderbg" class="centerbg1">
    <div class="centerbg2">
        <div id="preloader"></div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('preloaderbg').style.display = 'block';
    document.body.style.overflow = 'hidden';
</script>

<table id="calendar" class="calendar">
        <thead>
        <tr>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Вс</th>
        </tr>
        </thead>

        <tbody id="calendarBody">

        </tbody>
    </table>