
@model Domain.User

<div class="jumbotron">
    <h1>HSEvents</h1>
    <p class="lead">Добро пожаловать в систему учета профориентационных мероприятий НИУ ВШЭ - Пермь</p>
    <p><a href="/Account" class="btn btn-primary btn-lg">Вход &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>НИУ ВШЭ - Пермь</h2>
        <p>Данное приложение было разработано специально для НИУ ВШЭ - Пермь</p>
        <p><a class="btn btn-default" href="https://perm.hse.ru/">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Зарегистрироваться</h2>
        <p>Начните работу с ситемой после регистрации и подтверждения роли администратором</p>
        <p><a class="btn btn-default" href="/Account/Register">Зарегистрироваться &raquo;</a></p>
    </div>

    <ul class="nav nav-pills pull-right">
        @if (Model != null)
        {
            <li>@Model.Login</li>
            <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
        }
        else
        {
            <li>@Html.ActionLink("Вход", "Login", "Account")</li>
            <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
        }
    </ul>

</div>
